body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #container{
    display:flex;
    flex-wrap: wrap;
  }

  .catalogBody{
    padding: 25px;
  }
  
  .cardPost{
    margin: 10px;
  }
  
  .cardActions{
    align-self:flex-end;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header button{
    background-color: transparent;
    border: 2px solid #9C27B0;
    color: #9C27B0;
  }